- content_for :top_content do
  .jumbotron
    .container
      - if current_user
        %h3= t('index.start_upload')
        = render 'pages/partials/import'
      - else
        %h1= t('index.greeting')
        %h3= t('index.instruction')
