- content_for :top_content do
  .jumbotron
    .container
      - if current_user
        %h3 Start uploading CSV File now!
        = render 'pages/partials/import'
      - else
        %h1 Welcome!
        %h3 to Restaurant Menu Collection Service
