#modal-window.modal-dialog-center.modal.fade{'aria-labelledby': 'myModalLabel', role: 'dialog', tabindex: '-1', 'data-backdrop': 'static', 'data-keyboard': false}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %h3
          %i.fa.fa-circle-o-notch.fa-spin.fa-1x.fa-fw
          = t('menus.process_import')
