/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dataTables/jquery.dataTables
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'font-awesome';

$global-blue: #00ADF0;
$global-green: #BAD16E;
$global-dark-grey: #808080;
$dark-bg: #F2F2F2;
$color-header: #909090;
$color-body: #494949;
$global-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: $global-font;
}

.alert-alert { @extend .alert-warning; }
.alert-notice { @extend .alert-info; }

#csv-type-wrapper {
  width: 500px;
  display: inline-block;

  input[type='radio'] {
    with: 100%;
    max-width: 100px;
    padding: 10px 10px;
  }

  label {
    padding: 10px 10px;
  }
}

#table-wrapper { width: auto; }
#modal-window.processing-modal-only {
  min-height: 200px;
  min-width: 300px;
}

.modal-dialog {
  vertical-align: middle;
  min-width: 60%;
  display:table;
  position: absolute;
  left: 0;
  right:0;
  top: 40%; 
}
